.pop{
    background-color:#F0F0F0; 
    position:absolute;
    left:30%;
    top:15%;
    width:700px;
    height:550px;
    padding: 2px;
    border:1px solid #d0d0d0;
    overflow:scroll;
    align:center;

}

label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
  }